<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>饰品商城管理</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="/static/css/admin/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/static/css/admin/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="/static/css/admin/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="/static/css/admin/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">饰品商城管理员</a>
            </div>

            <div class="header-right">

              <a href="#" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i> 信息</a>
                <a href="#" class="btn btn-primary" title="New Task"><b>40 </b><i class="fa fa-bars fa-2x"></i> 任务</a>
                <a href="#" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i> 注销</a>
            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="/static/images/admin/user.png " class="img-thumbnail" />
                            <div class="inner-text">
                                <h5 th:text="${session.loggedAdmin.username}"></h5>
                            </div>
                        </div>

                    </li>
                    <li>
                        <a  href="#"><i class="fa fa-dashboard "></i>主页</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop "></i>饰品种类<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level" id="categories">

                        </ul>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-yelp "></i>用户管理<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="fa fa-coffee"></i>会员用户</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-flash "></i>锁定用户</a>
                            </li>
                             <li>
                                 <a href="#"><i class="fa fa-key "></i>所有用户</a>
                             </li>
                             <li>
                                 <a href="#"><i class="fa fa-send "></i>搜索用户</a>
                             </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bicycle "></i>订单信息<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                           
                             <li>
                                <a href="#"><i class="fa fa-desktop "></i>查看订单</a>
                            </li>
                             <li>
                                <a href="#"><i class="fa fa-code "></i>搜索订单</a>
                            </li>
                             
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap "></i>积分 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#"><i class="fa fa-bicycle "></i>查看积分</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-flask "></i>Second Level Link</a>
                            </li>

                        </ul>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-anchor "></i>管理员信息</a>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-bug "></i>添加饰品分类</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sign-in "></i>注销</a>
                    </li>
                
                   
                    <li>
                        <a class="active-menu" href="#"><i class="fa fa-square-o "></i>Blank Page</a>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">用户信息</h1>
                        <h1 class="page-subhead-line">请谨慎操作</h1>

                    </div>
                </div>

                <div >
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="success text-center">#</th>
                            <th class="success text-center">用户名</th>
                            <th class="success text-center">邮箱</th>
                            <th class="success text-center">积分</th>
                            <th class="success text-center">昵称</th>
                            <th class="success text-center">操作</th>
                            <th class="success text-center">操作</th>
                        </tr>
                        </thead>
                        <tbody th:each="account:${accounts}">
                        <tr>
                            <td class="text-center" th:text="${accountStat.count}">1</td>
                            <td class="text-center" th:text="${account.username}">xiaosx</td>
                            <td class="text-center" th:text="${account.email}">xsx1075312923@163.com</td>
                            <td class="text-center" th:text="${account.points}">3000</td>
                            <td class="text-center" th:text="${account.nickName}">xsx1075312923@163.com</td>
                            <td class="text-center" th:if="${#httpServletRequest.getParameter('status')}==1"><button type="button" class="btn btn-warning" th:id="${account.id}" onclick="changeStatus(id,2)">锁定用户</button></td>
                            <td class="text-center" th:if="${#httpServletRequest.getParameter('status')}==2"><button type="button" class="btn btn-success" th:id="${account.id}" onclick="changeStatus(id,1)">激活用户</button></td>
                            <td class="text-center"><button type="button" class="btn btn-danger" th:id="${account.id}" onclick="needDeleteId(this.id)" data-toggle="modal" data-target="#myModal">删除用户</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /. PAGE INNER  -->
            <div style="float: none;position:relative;bottom: 5px;left:20px">
                <ul class="pagination" >
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <div id="footer-sec">
        饰品商城后台管理中心<a href="/static/home" target="_blank" title="饰品商城">前往商城</a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body" >
                    <div class="alert alert-danger">
                        <a href="#" class="alert-link">是否确认删除此用户</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" onclick="deleteAccount()">确认删除</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="/static/js/admin/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/static/js/admin/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/static/js/admin/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="/static/js/admin/custom.js"></script>
    <!---->
    <script type="text/javascript">
        <!--渲染种类-->
        (function ($) {
            var categories;
            $.ajax({
                url: "/getActivatedType",
                dataType:"json",
                type:"post",
                success:function (result) {
                    categories = result.data.types;
                    for (var i =0 ;i < categories.length;i++){
                        var li = inertGoods(categories[i].id,"  "+  categories[i].name)
                        $("#categories").append(li);
                    }
                },
                error:function () {
                    console.log("error");
                }
            });
        })(jQuery);

        function inertGoods(type,name) {
            var  html = '<li><a href="/showGoodsByTypeToAdmin?page=1&type=' + type + '" <i class="fa fa-bug"></i>' + name + '</a></li>';
            return html;
        }
        <!--改变状态-->
        function changeStatus(id,status) {
            var params={};
            params.id=id;
            params.status=status;
            $.ajax({
                url: "/changeStatus",
                data: params,
                dataType:"json",
                type:"post",
                success:function (result) {
                    if (result.state == 1) {
                        location.reload();
                    }
                },
                error:function () {
                    console.log("error");
                }
            });
        }

        <!--删除用户-->
        var needDeleteAccountId;//需要删除的用户id
        function needDeleteId(id) {
            needDeleteAccountId = id;
        }
        //执行删除
        function deleteAccount() {
            changeStatus(needDeleteAccountId,3);
        }



    </script>

</body>
</html>
